[libdefaults]
  default_realm = "{{ krb5.realm }}"
  dns_lookup_realm = false
  dns_lookup_kdc = true
  ticket_lifetime = 24h
  renew_lifetime = 7d
  forwardable = true
  rdns = false
  udp_preference_limit = 1
  kdc_timeout = 3000
  default_tgs_enctypes = aes128-tcs aes256-tcs des-cbc-md5 des-cbc-crc rc4-hmac
  default_tkt_enctypes = aes128-tcs aes256-tcs des-cbc-md5 des-cbc-crc rc4-hmac
  permitted_enctypes = aes128-tcs aes256-tcs des-cbc-md5 des-cbc-crc rc4-hmac

[realms]
  "{{ krb5.realm }}" = {
    kdc = "{{ krb5.realm_server }}"
    admin_server = "{{ krb5.realm_server }}"
  }

[domain_realm]
  "{{ krb5.realm|lower }}" = "{{ krb5.realm }}"
  ."{{ krb5.realm|lower }}" = "{{ krb5.realm }}"
  ."{{ domain }} = "{{ krb5.realm }}"
  "{{ domain }}" = "{{ krb5.realm }}"
