#!/usr/bin/env bash

export JAVA_TOOL_OPTS=-Djava.net.preferIPv4Stack=true

export HADOOP_CONF_DIR=${HADOOP_CONF_DIR:-/etc/hadoop/conf}

SPARK_MASTER_IP={{ spark.master_ip }}
SPARK_MASTER_PORT={{ spark.master_port }}
SPARK_WORKER_PORT={{ spark.worker_work_port }}
SPARK_WORKER_WEBUI_PORT={{ spark.worker_ui_port }} #Avoid conflict with kafka ports

export SPARK_DIST_CLASSPATH=$(/opt/hadoop-2.6.5/bin/hadoop classpath)
{% for key, value in spark.env_extras.items() | sort %}
export {{ key }}="{{ value }}"
{% endfor %}
